#tooltip-panel {
    transition-duration: 0.15s;
    opacity: 0.8;
    transition-timing-function: ease;
    pointer-events: none;
}

#tooltip-title {
    white-space: normal;
    overflow: visible;
}

#tooltip-description {
    white-space: normal;
    overflow: visible;
}

#tooltip-subtext {
    white-space: normal;
    overflow: visible;
}
